<h1>Cadastro para Taverna</h1>
<body>
  <div id="main-container">
    <h1>Cadastre-se para acessar a taverna!</h1>
    <form form action="/add-users" id="register-form" method="POST">
      <div class="half-box spacing">
          <label>Nome</label>
          <input type="text" name="name" id="name" placeholder="Digite seu nome">
      </div>
      <div class="half-box">
          <label>Sobrenome</label>
          <input type="text" name="lastname" id="lastname" placeholder="Digite seu sobrenome">
      </div>
      <div class="full-box">
        <input id="btn-submit" type="submit" value="Registrar">
      </div>
    </form>
  </div>
</body>