<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Form do churras</title>
  <link rel="stylesheet" href="C:\Users\Eduardo\Desktop\Projetos\form_register_consult\js\views\layouts\css\styles.css">
</head>
<body>
  <div id="main-container">
    <h1>Cadastre-se para acessar a taverna!</h1>
    <form id="register-form" action="">
      <div class="full-box">
        <label>E-mail</label>
        <input type="email" name="email" id="email" placeholder="Digite seu e-mail">
      </div>
      <div class="half-box spacing">
          <label>Nome</label>
          <input type="text" name="name" id="name" placeholder="Digite seu nome">
      </div>
      <div class="half-box">
          <label>Sobrenome</label>
          <input type="text" name="lastname" id="lastname" placeholder="Digite seu sobrenome">
      </div>
      <div class="half-box spacing">
        <label>Senha</label>
        <input type="password" name="password" id="password" placeholder="Digite sua senha">
      </div>
      <div class="half-box">
        <label>Confirmação de senha</label>
        <input type="password" name="passconfirmation" id="passwordconfirmation" placeholder="Digite novamente sua senha">
      </div>
      <div>
        <input type="checkbox" name="agreement" id="agreement">
        <label id="agreement-label">Eu li e aceito os <a href="#">termos de uso</a></label>
      </div>
      <div class="full-box">
        <input id="btn-submit" type="submit" value="Registrar">
      </div>
    </form>
  </div>
  <p class="error-validation template"></p>
  <script src=""></script>
</body>
</html>