.card-container {
  width: 250px;
  border: 3px solid #000000;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  background-color: #926C4B;
}

.card-id {
  display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
  background-image: none;
  background-color: black;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  padding: 3px;
  font-family: monospace;

}

.card-title {
  background-image: none;
  display: inline;
  background-image: none;
}

.card-lastname {
  margin-top: 15px;
}

.card-container:hover {
  background-image: none;
  background-color: #D5D8EC;
}

.p {
  background-image: none;
}